
:root{
    --dark-yellow: rgb(182, 182, 30);
    --light-yellow: #FFF714;
    --teste: rgba(255, 247, 20, 0.712);
    --gray-color: #52524f;
    --black-color: #0f0f0f;
    --middle-font: 18px;
    --white: rgba(255, 255, 255, 0.507);
}

body{
    color: white;
}


.album{
    display: block;
    margin: 1em auto 0 auto;
    max-width: 250px;
    border-radius: 50% 50%;
}


.playing-now ~ p{
    text-align: center;
}


/* ******************************************* */
/* MEXENDO NA PLAYLIST */
/* ******************************************* */




/* .playlist .lista > li{
    background-color: var(--black-color);
    border: 2px solid transparent;
    cursor: pointer;
    padding: 1em;
    font-size: 16px;
    font-weight: normal;
} */


/* .playlist .lista > li:hover{
    background-color: #FFF714;
} */



/* ******************************************* */