
html{
  height: 100%;
}


:root{
  --main-bg-color: black;
  --gray-color: #353531
}




body {
  height: 100%;
  /* background-image: linear-gradient(to right, black , black 50%, #2f3640 50%,  #2f3640); */
  background-color: var(--main-bg-color);
  /* background-repeat: no-repeat; */
  font-family: 'Montserrat', sans-serif;
  position: relative;
}

#root{
  padding-top: 1em;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
